.ComponentWrapper {
  width: 85%;
  color: white;
  background-color: rgba(28, 33, 41, 0.87);
  box-shadow: 2px 2px 22px -3px #b6752f;
  box-sizing: border-box;
  padding: 50px;
  margin: 100px auto 0;
  h3 {
    font-weight: 100;
    font-size: 40px;
    text-align: left;
  }
  .ContentWrapper {
    margin-top: 40px;
    display: flex;
    .TextContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      div {
        display: flex;
        align-items: center;
        padding: 20px 10px 5px 0;
        span {
          display: flex;
          padding: 20px 28px;
          align-items: center;
          justify-content: center;
          // padding: 20px;
          font-weight: 600;
          font-size: 30px;
          border: 1px solid green;
          border-radius: 50%;
          background-color: hsla(120, 100%, 25%, 0.313);
          font-style: normal;
          margin-right: 15px;
        }
        svg {
          margin-right: 10px;
          width: 40px;
          height: 40px;
          box-sizing: content-box;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align-last: left;
          h4 {
            font-size: 28px;
            font-weight: 200;
          }
          p {
            margin-top: 10px;
            width: 90%;
            text-align: left;
            font-weight: 100;
          }
        }
      }
    }
    .ImageContainer {
      padding-top: 30px;
      position: relative;
      img {
        position: sticky;
        top: 40px;
        width: 489px;
        height: 374px;
        object-fit: contain;
      }
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    padding: 20px 10px;
    margin: 40px auto 0;
    h3 {
      font-size: 32px;
      padding: 10px;
    }
    .ContentWrapper {
      margin-top: 0;
      flex-direction: column-reverse;
      .TextContainer {
        div {
          padding: 10px 0 0;
          span {
            padding: 7px 16px;
          }
          div {
            text-align: left;
            h4 {
              font-size: 24px;
            }
          }
        }
      }
      .ImageContainer {
        display: none;
      }
    }
  }
}
