.ComponentWrapper {
  width: 100%;
  display: flex;
  margin-top: 100px;
  h3 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    &::after {
      display: block;
      content: "";
      width: 70px;
      height: 10px;
      margin-top: 10px;
      background-color: indianred;
    }
  }
  .InfoContainer {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    background-color: rgb(30, 46, 71);
    h3 {
      color: #fff;
    }
    .ContactsWrapper {
      display: flex;
      justify-content: space-between;
      .ContactList {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          text-decoration: none;
          padding: 12px;
          width: 100%;
          color: #fff;
          font-size: 26px;
          font-weight: 100;
          text-align: left;
          display: flex;
          justify-content: flex-start;
          label {
            margin-right: 40px;
            font-weight: 400;
          }
        }
        & > * {
          display: flex;
        }
      }
      .SocialIconsContainer {
        display: flex;

        justify-content: flex-end;
        a {
          width: max-content;
          margin-left: 20px;
        }
        svg {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
  .ContactFormWrapper {
    // font-family: "M PLUS 1p", sans-serif;
    width: 50%;
    text-align: left;
    box-sizing: border-box;
    padding: 40px;
    background-color: rgb(127, 145, 169);
    h3 {
      color: #1e2e47;
    }
    .ContactForm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .FormLabel {
        padding: 20px 0px 0px;
        letter-spacing: 1px;
        font-size: 14px;
      }
      .FormInput {
        box-sizing: border-box;
        width: 100%;
        outline: none;
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
      }
      .FormButton {
        margin-top: 20px;
        border-radius: 8px;
        padding: 9px 45px;
        border: none;
        box-shadow: 6px 5px 8px 3px #000;
        background-color: red;
        color: white;
      }
    }
  }

  @media (max-width: 480px) {
    h3 {
      font-size: 28px;

      &::after {
        height: 5px;
        margin-top: 8px;
      }
    }
    .InfoContainer {
      box-sizing: border-box;
      padding: 20px 10px;
      width: 100%;
      .ContactsWrapper {
        flex-direction: column;
        .SocialIconsContainer {
          margin-top: 20px;
          width: 100%;
          justify-content: flex-start;
          // a {
          //   margin-left: 0px;
          // }
          svg {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
